<div class="row">
  <div class="small-6 small-centered columns">

    <h1>Todo</h1>

    <%= form_for Task.new, remote: true do |f| %>

      <%= f.text_field :name %>
      <%= f.submit "Create", class: "button" %>

    <% end %>

    <ul id="tasks">
      <%= render @tasks %>
    </ul>

  </div>
</div>
